.go_back{
    /* width: 100%; */
    margin: 50px 0px;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
}
.go_back a{
    color: gray;
    text-decoration: none;
    font-size: 12px;
}

.product_detail{
    display: flex;
    padding: 0 40px;
    margin-bottom: 20px;
}

.product_images{
    display: flex;
    flex: 2;
    flex-direction: column;
    padding: 0 10px;
    margin-top: 10px;
}

.images{
    border: 1px solid grey;
    width: 100%;
    height: 500px;
    border-radius: 5px;
}


.images img{
    width: 100%;
    height:100%;
}

.description{
    border: 1px solid grey;
  width: 100%;
  border-radius: 5px;
}

.description h2{
   padding-left: 40px;
}
.description li{
    list-style: none;
    padding-right: 10px;
}

.seller_info{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 10px;
    margin-top: 10px;
}

.amount{
    border: 1px solid grey;
    width: 100%;
    border-radius: 5px;
    padding: 20px 0; 
}
.amount h2{
    font-size: 34px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
    padding: 0 20px;
}
.amount p.sale{
margin: 0;
font-size: 18px;
padding: 0 20px;

}
.amount p{
    margin-bottom: 0;
    margin-top: 30px;
    color: gray;
}
.amount p>span{
    font-size: 12px;
/* margin-top: 20px; */
padding-left: 20px;

}
.date{
    float: right;
    margin-top: 5px;
    padding-right: 20px;
}

.seller_description{
    border: 1px solid grey;
    width: 100%;
    border-radius: 5px;
    padding: 20px 0;
    margin-top: 10px;
  
}

.seller_description p{
    font-size: 22px;
    margin: 0;
    padding: 0 20px;
}
.seller_name{
    width: 100%;
}
.seller_name p{
font-size: 12px;
margin: 0;
padding: 0 10px;
color: gray
}
.seller_name h3{
    margin: 0;
    padding: 5px 10px;
}
.arrow{
    float:right;
    font-size: 22px;
}

.about_seller{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.chat_seller{
    background-color:#002f34;
    border-radius: 5px;
    text-align: center;
    padding: 5px ;
    margin: 0 20px;
    font-weight: 600;
    color: white;
    border: 4px solid #002f34;
    font-size: 14px;
}

.chat_seller:hover{
    background-color: white;
    color: #002f34;
}

.seller_numbr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.seller_numbr a p{
font-size: 14px;

}
.seller_numbr a {
color: rgb(74, 180, 230);

}
.seller_numbr span{
    margin-left: 10px;
    font-size: 12px;
    }

.posted_in{
    border: 1px solid grey;
    width: 100%;
    border-radius: 5px;
    padding: 20px 0;
    margin-top: 10px;  
}    
.posted_in h3{
    padding: 0 20px;
    margin-top: 0;
}
.posted_in p{
    padding: 0 20px;
font-size: 14px;
color: gray
}
.posted_in img{
    padding: 0 20px;
}